/* the start of the Form component styling. */
.FormComponent{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* BZU logo styling. */
.headerLogo{
    width: 900px;
    height: 200px;
    margin-bottom: 10px;
}

/* BZU Form styling. */
.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* medium size devices design */
@media screen and (min-width: 601px) and (max-width: 950px) {
    .headerLogo{
        width: 600px;
        height: 200px;
    }
}

/* mobile responsive design. */
@media screen and (max-width: 600px) {
    .headerLogo{
        width: 340px;
        height: 100px;
    }
}